body {
    background-color: rgb(143, 13, 13);
    display: flex;
}

.image-grid {
    display: grid;
    gap: 50px;
    width: 10vw; /*50%*/
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows:  20vw 20vw 20vw;
}

img {
 width: 20vw;
 height: auto;
}

#i1 {
    grid-row: 1 / 1;
    grid-column: auto;
}

#i6 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#i3 {
    grid-row: 1 / 1;
    grid-column: 2 / 3;  
}

#i5 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}